/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* setup */
:root {
  /* layout colors */
  --bg-main: rgb(40, 40, 40);
  --g-1: rgb(49, 49, 70);
  --g-2: rgb(58, 56, 77);
  --g-3: rgb(63, 59, 80);
  --g-4: rgb(72, 58, 75);
  --g-5: rgb(120, 67, 75);
  --g-6: rgb(235, 131, 52);
  /* font colors */
  --fc-main: rgb(247, 240, 222);
  --fc-sub: rgb(138, 230, 175);
  --fc-alt: rgb(235, 131, 52);
  /* fonts */
  --f-bar: 'Montserrat Alternates';
  --f-main: 'Fira Code';
}
body {
  background-color: var(--bg);
  color: var(--white);
}
/* center */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* layout */

/* typography */
