/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* setup */
:root {
  --yellow: rgb(255, 185, 38);
  --orange: rgb(200, 100, 60);
  --bg: rgb(24, 22, 22);
  --bgf: rgb(19, 11, 12);

  --t-title: 'Atomic Age';
  --t-bar: 'Libre Barcode 39 Text';
  --t-main: 'Fira Code';
}

body {
  background-color: var(--bg);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 1000px;
  height: 800px;
}
.big-img {
  max-width: 200px;
}
